@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,600,700|Roboto:300,400");
@import url("https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,600,700");
.bgDesktop {
  background-color: #18BBEE;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 10px; }

.elEscritorio {
  width: 100%;
  height: 100%; }

.resize-container {
  display: inline-block;
  width: 100vw;
  height: 1000px; }

.spanTitulo {
  color: white;
  margin-left: auto; }

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.elDocker {
  text-align: center;
  width: 100%;
  bottom: 10px;
  position: fixed; }

.icono {
  height: 60px;
  cursor: pointer;
  margin: 10px;
  margin-top: 2px; }

.iconosPs {
  width: 100%;
  height: 100px;
  background-image: url("../img/iconos/proto_sombra_1000.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 300px; }

.ventanaInfo {
  border: 1px solid #D2D2D2;
  width: 600px;
  height: 493px;
  margin-top: -100px;
  margin-left: 450px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
  display: block; }

.barraUp {
  background-color: #464646;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  height: 25px; }

.fa-times-circle {
  color: red;
  margin: 5px;
  cursor: pointer; }

.contenidoVentanaInfo {
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  width: 100%;
  height: 95%; }

.arduinoBox {
  width: 100%;
  height: 100%;
  background: #18BBEE;
  padding-right: 15px;
  padding-left: 15px; }

.impresionBox {
  width: 100%;
  height: 465px;
  background: purple;
  padding-right: 15px;
  padding-left: 15px; }

.electroBox {
  width: 100%;
  height: 465px;
  background: red;
  padding-right: 15px;
  padding-left: 15px; }

.disenoBox {
  width: 100%;
  height: 465px;
  background: black;
  padding-right: 15px;
  padding-left: 15px; }

.arduino {
  height: 200px;
  margin-top: 10px; }

.pInfo {
  color: white; }

.tInfo {
  color: white; }

.ventanaContacto {
  border: 1px solid #D2D2D2;
  width: 600px;
  height: 420px;
  margin-top: 0px;
  margin-left: 750px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  z-index: 1; }

.contenidoVentana {
  text-align: center;
  width: 100%;
  height: 100%; }

.iconoVentana {
  height: 60px; }

.ventanaCalendario {
  border: 1px solid #D2D2D2;
  width: 600px;
  height: 300px;
  margin-top: 140px;
  margin-left: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  z-index: 1; }

.ventanaMapa {
  border: 1px solid #D2D2D2;
  width: 950px;
  height: 500px;
  margin-top: -80px;
  margin-left: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  z-index: 1; }

#map {
  width: 100%;
  height: 100%; }

.ventanaMision {
  border: 1px solid #D2D2D2;
  width: 950px;
  height: 500px;
  margin-top: -80px;
  margin-left: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  z-index: 1; }

.iconoDesktop {
  height: 60px;
  margin-top: 50px;
  margin-left: 40px;
  cursor: pointer; }

#mision {
  color: white; }

.bodyCarga {
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex; }

.loading-page {
  background: #18BBEE;
  width: 416px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 545px;
  margin-top: 87px;
  position: absolute;
  z-index: 2; }

.counter {
  text-align: center;
  margin-top: 50px; }

.zonaCompu {
  width: 100vw;
  height: 100vh;
  background-color: #f9d35c;
  z-index: 0; }

.compu {
  width: 1200px !important;
  position: absolute;
  z-index: 1;
  margin-left: 150px; }

p {
  font-size: 40px;
  font-weight: 100;
  color: white; }

.porcentaje {
  color: white;
  font-size: 60px;
  margin-top: -10px; }

hr {
  background: white;
  border: none;
  height: 1px;
  margin-left: 20px; }

.counter {
  position: relative;
  width: 200px;
  position: absolute;
  top: 0;
  width: 100%; }

.color {
  width: 0px;
  overflow: hidden;
  color: #f60d54; }

/*.zoom
 * transition: width 2s, height 2s, transform 2s
 * -moz-transition: width 2s, height 2s, -moz-transform 2s
 * -webkit-transition: width 2s, height 2s, -webkit-transform 2s
 * -o-transition: width 2s, height 2s,-o-transform 2s */
/*.zoom:hover
 * transform : scale(2)
 * -moz-transform : scale(2)     
 * -webkit-transform : scale(2) 
 * -o-transform : scale(2)    */

/*# sourceMappingURL=app.css.map */
