.ventanaMision
    border: 1px solid $oscuro
    +wh(950px,580px)
    +marginTL(80px,200px)
    +redondeado(10px)
    position: absolute
    box-sizing: border-box
    position: absolute
    background-color: $oscuro
    z-index: 1

.contenidoVentanaMision
    height: 94%
    

.misionZone
    display: flex
    flex-direction: row
    justify-content: space-around

.visionZone
    display: flex
    flex-direction: row
    justify-content: space-around

.imgMision
    height: 250px

.textoMV
    font-size: 20px
    width: 50%
    text-align: justify
    padding: 10px