.elDocker
    //border: 1px solid $gris
    //+wh(300px,65px)
    text-align: center 
    width: 100%
    bottom: 15px
    position: fixed
    

.icono
    height: 60px
    cursor: pointer
    margin: 5px
    
    