.ventanaInfo
    border: 1px solid $gris
    +wh(600px,493px)
    +marginTL(-100px,450px)
    +redondeado(10px)
    position: absolute
    box-sizing: border-box
    background-color: white
    z-index: 1
    display: block

.barraUp
    background-color: $negro
    +redondeado(10px 10px 0px 0px)
    height: 25px

.fa-times-circle
    color: red
    margin: 5px
    cursor: pointer

.contenidoVentanaInfo
    +redondeado(0px 0px 10px 10px)
    text-align: center
    width: 100%
    height: 95%

.arduinoBox
    width: 100%
    height: 100%
    background: $azul
    padding-right: 15px
    padding-left: 15px

.impresionBox
    width: 100%
    height: 465px
    background: purple
    padding-right: 15px
    padding-left: 15px

.electroBox
    width: 100%
    height: 465px
    background: red
    padding-right: 15px
    padding-left: 15px

.disenoBox
    width: 100%
    height: 465px
    background: black
    padding-right: 15px
    padding-left: 15px
    

.arduino
    height: 200px
    margin-top: 10px

.pInfo
    color: white

.tInfo
    color: white 