.ventanaMision
    border: 1px solid $gris
    +wh(950px,500px)
    +marginTL(-80px,200px)
    +redondeado(10px)
    position: absolute
    box-sizing: border-box
    position: absolute
    background-color: white
    z-index: 1