@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,600,700|Roboto:300,400");
@import url("https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,600,700");
.bgDesktop {
  background-color: #18BBEE;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 10px; }

.elEscritorio {
  width: 100%;
  height: 100%; }

.resize-container {
  display: inline-block;
  width: 100vw;
  height: 1000px; }

.spanTitulo {
  color: white;
  margin-left: auto; }

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.elDocker {
  text-align: center;
  width: 100%;
  bottom: 15px;
  position: fixed;
  margin-left: -25px; }

.icono {
  height: 80px;
  cursor: pointer;
  margin-top: -40px;
  transition: transform 0.2s; }

.iconitoss:hover .icono {
  transform: scale(1.5); }

.iconosPs {
  width: 100%;
  height: 150px;
  background-image: url("../img/iconos/nuevoDock.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 620px;
  display: flex;
  justify-content: center; }

.iconitoss {
  margin-left: 25px; }

.ventanaCursos {
  border: 1px solid #464646;
  width: 1000px;
  height: 493px;
  margin-top: 100px;
  margin-left: 350px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
  display: block; }

.barraUp {
  background-color: #232323;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  height: 25px; }

.fa-times-circle {
  color: red;
  margin: 5px;
  cursor: pointer; }

.contenidoVentanaCursos {
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  height: 100%; }

.flexContenedorCursos {
  margin: 20px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.flexCon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.iconoCarpeta {
  height: 100px;
  margin: 25px;
  cursor: pointer; }

.labelCarpeta {
  color: black; }

.zonaTipo {
  display: none;
  height: 95%;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px; }

.flexCurso {
  display: flex;
  flex-direction: row;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  height: 100%; }

.return {
  color: white;
  font-size: 30px;
  margin: 15px;
  cursor: pointer;
  position: absolute; }

.cursoIzq {
  display: flex;
  align-items: center;
  height: 100%; }

.imgCursos {
  height: 150px;
  padding: 10px; }

.tituloCurso {
  color: white; }

.cursoDer {
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: column; }

.scrollCurso {
  height: 300px;
  padding: 20px; }

.cursoP {
  font-size: 20px;
  text-align: justify; }

#arduinoZone {
  background-color: #18BBEE; }

#disenoZone {
  background-color: #18BBEE; }

#electroZone {
  background-color: #18BBEE; }

#roboticaZone {
  background-color: #18BBEE; }

#impresionZone {
  background-color: #18BBEE; }

.ventanaContacto {
  border: 1px solid #464646;
  width: 600px;
  height: 420px;
  margin-top: 0px;
  margin-left: 750px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  position: absolute;
  background-color: #464646;
  z-index: 1; }

.contenidoVentana {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.iconoVentana {
  height: 80px; }

.textoAzul {
  color: #18BBEE; }

.ventanaHorario {
  border: 1px solid #D2D2D2;
  width: 600px;
  height: 300px;
  margin-top: 140px;
  margin-left: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  z-index: 1; }

.ventanaMapa {
  border: 1px solid #D2D2D2;
  width: 950px;
  height: 500px;
  margin-top: 10px;
  margin-left: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  z-index: 1; }

#map {
  width: 100%;
  height: 100%; }

.ventanaMision {
  border: 1px solid #464646;
  width: 950px;
  height: 580px;
  margin-top: 80px;
  margin-left: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  position: absolute;
  background-color: #464646;
  z-index: 1; }

.contenidoVentanaMision {
  height: 94%; }

.misionZone {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.visionZone {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.imgMision {
  height: 250px; }

.textoMV {
  font-size: 20px;
  width: 50%;
  text-align: justify;
  padding: 10px; }

.ventanaExamenes {
  border: 1px solid #D2D2D2;
  width: 950px;
  height: 500px;
  margin-top: -80px;
  margin-left: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  z-index: 1; }

.ventanaConfig {
  border: 1px solid #D2D2D2;
  width: 950px;
  height: 500px;
  margin-top: -80px;
  margin-left: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  z-index: 1; }

.contenidoVentanaConfiguracion {
  background-color: #E2E2E2;
  height: 100%; }

.cuadrado {
  width: 50px;
  height: 50px;
  border: 3px solid #707070;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer; }

.colores {
  display: flex;
  justify-content: space-around; }

#azul {
  background-color: #14B9ED; }

#negro {
  background-color: #464646; }

#amarillo {
  background-color: #F7C046; }

#rojo {
  background-color: #DD2A40; }

#blanco {
  background-color: white; }

.ventanaTienda {
  border: 1px solid #D2D2D2;
  width: 950px;
  height: 500px;
  margin-top: -80px;
  margin-left: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  z-index: 1; }

.iconoDesktop {
  height: 60px;
  cursor: pointer; }

.mision {
  color: white;
  margin-top: -10px; }

.flexContenedor {
  margin-top: 25px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.AccDir {
  position: absolute; }

.bodyCarga {
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex; }

.loading-page {
  background: #18BBEE;
  width: 416px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 545px;
  margin-top: 87px;
  position: absolute;
  z-index: 2; }

.counter {
  text-align: center;
  margin-top: 50px; }

.zonaCompu {
  width: 100vw;
  height: 100vh;
  background-color: #f9d35c;
  z-index: 0; }

.compu {
  width: 1200px !important;
  position: absolute;
  z-index: 1;
  margin-left: 150px; }

p {
  font-size: 40px;
  font-weight: 100;
  color: white; }

.porcentaje {
  color: white;
  font-size: 60px;
  margin-top: -10px; }

hr {
  background: white;
  border: none;
  height: 1px;
  margin-left: 20px; }

.counter {
  position: relative;
  width: 200px;
  position: absolute;
  top: 0;
  width: 100%; }

.color {
  width: 0px;
  overflow: hidden;
  color: #f60d54; }

/*.zoom
 * transition: width 2s, height 2s, transform 2s
 * -moz-transition: width 2s, height 2s, -moz-transform 2s
 * -webkit-transition: width 2s, height 2s, -webkit-transform 2s
 * -o-transition: width 2s, height 2s,-o-transform 2s */
/*.zoom:hover
 * transform : scale(2)
 * -moz-transform : scale(2)     
 * -webkit-transform : scale(2) 
 * -o-transform : scale(2)    */

/*# sourceMappingURL=app.css.map */
